* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* according to phones fonts setting */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f4f6f8;
}

.app-container {
  max-width: 430px;   /* iPhone Pro Max width */
  width: 100%;
  margin: auto;
  min-height: 100vh;
  padding: 16px;
  background: #FAFAFD;
}
.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input, select {
  width: 100%;
  padding: 14px;
  font-size: 16px;   
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: #2e7d32;
  color: white;
}
button:hover{
    background: #1b5e20;
}
.success-box{
    background: #e8f5e9;
    color: #2e7d32;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    text-align: center;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  background: #004c97;
  color: white;
}

.back-btn {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* Alarm list */
.alarm-list {
  padding: 10px;
}

.alarm-card {
  background: white;
  border-radius: 14px;
  padding: 14px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.06);
}

/* Left info */
.alarm-info {
  flex: 1;
}

.alarm-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}

.alarm-sub {
  font-size: 13px;
  color: #555;
}

.alarm-meta {
  font-size: 12px;
  color: #888;
  margin-top: 2px;
}

/* Toggle */
.switch {
  position: relative;
  width: 46px;
  height: 24px;
}

.switch input {
  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  border-radius: 24px;
  transition: 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + .slider {
  background: #2c7be5;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.toggle-btn {
    padding: 8px 14px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

.toggle-btn.off {
    background: #ff4d4d;
    color: white;
}

.toggle-btn.on {
    background: #2ecc71;
    color: white;
}

 /* to make it look clean on phones */
@media (max-width: 480px) {
  body {
    background: #f4f6f8;
  }

  .app-container {
    border-radius: 0;
    box-shadow: none;
  }
}


