* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* according to phones fonts setting */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #f4f6f8;
}

.app-container {
  max-width: 430px;   /* iPhone Pro Max width */
  width: 100%;
  margin: auto;
  min-height: 100vh;
  padding: 16px;
  background: #FAFAFD;
}
.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input, select {
  width: 100%;
  padding: 14px;
  font-size: 16px;   
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  background: #2e7d32;
  color: white;
}
button:hover{
    background: #1b5e20;
}
.success-box{
    background: #e8f5e9;
    color: #2e7d32;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    text-align: center;
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  background: #004c97;
  color: white;
}

.back-btn {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* Alarm list */
.alarm-list {
  padding: 10px;
}

.alarm-card {
  background: white;
  border-radius: 14px;
  padding: 14px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.06);
}

/* Right side  */
.alarm-actions {
  display: flex;
  align-items: center;
  gap: 14px;
  flex-shrink: 0;
}

/* Left info */
.alarm-info {
  flex: 1;
}

.alarm-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}

.alarm-sub {
  font-size: 13px;
  color: #555;
}

.alarm-meta {
  font-size: 12px;
  color: #888;
  margin-top: 2px;
}

/* Toggle */
.switch {
  position: relative;
  width: 52px;
  height: 28px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #ff3b30; /* Red OFF */
  border-radius: 30px;
  transition: 0.3s;
}

.slider:before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  top: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

/* ON State */
input:checked + .slider {
  background: #34c759; /* iOS Green */
}

input:checked + .slider:before {
  transform: translateX(24px);
}
 
.delete-btn {
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  font-size: 14px;
  margin-left: 8px;
  cursor: pointer;
}

.delete-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #ff3b30;
  background: white;
  color: #ff3b30;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.delete-btn:hover {
  background: #ff3b30;
  color: white;
}

 /* to make it look clean on phones */
@media (max-width: 480px) {
  body {
    background: #f4f6f8;
  }

  .app-container {
    border-radius: 0;
    box-shadow: none;
  }
}


