<!DOCTYPE html>
<html>
<head>
    <title>Reminders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="theme-color" content="#2b7cff">

</head>

<body>

<div class="container">
    <h2>📋 Active Reminders</h2>

    {% if reminders %}
        {% for r in reminders %}
            <div class="card">
                <div class="card-row">
                    <strong>{{ r.name }}</strong>
                </div>

                <div class="card-row">
                    💊 {{ r.medicine }}
                </div>

                <div class="card-row">
                    Quantity: {{ r.quantity }}
                </div>

                <div class="card-actions">
                    {% if r.get('is_active', 1) == 1 %}
                    <a href="/toggle/{{ r.order_id }}" class="toggle-btn off">
                        Turn OFF
                    </a>
                    {% else %}
                    <a href="/toggle/{{ r.order_id }}" class="toggle-btn on">
                        Turn ON
                    </a>
                    {% endif %}
                </div>


            </div>
        {% endfor %}
    {% else %}
        <p>No reminders available.</p>
    {% endif %}

    <br>
    <a href="/">⬅ Back</a>
</div>

<script>
if ("serviceWorker" in navigator) {
  navigator.serviceWorker.register("/static/sw.js")
    .then(() => console.log("Service Worker registered"));
}
</script>

</body>
</html>
